*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    width: 90%;
    margin: 40px auto;
    background: #2196F3;
    color: #f1f1f1;
    font-family: 'Epilogue', sans-serif;
}
#intro{
    text-align: center;
}
#form{
    display: flex;
    justify-content: center;
    margin: 20px;
}

input{
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 40%;
    background: #f1f1f1;
    border: 1px solid white;
    border-radius: 20px 0px 0 20px;
    outline: none;
    font-family: 'Epilogue', sans-serif;
}
.linear-gradient{
    background: -webkit-linear-gradient(purple, red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
input:hover{
    border: 1px solid white;
}

button{
    float: left;
    width: 10%;
    padding: 8.5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 0px 20px 20px 0;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    outline: none;
}

button:hover{
    background: #0b7dda;
}

#div{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
img{
    width: 200px;
    max-width: 200px;
    height: 150px;
    max-height: 150px;
    margin: 2%;
    object-fit: cover;
}
h5{
    margin-top: 5%;
}

/* @media (min-width: 768px) and (max-width: 1024px){

    img{
        width: 30%;
        max-width: 30%;
        height: 100px;
        max-height: 100px;
        object-fit: cover;
    }
} */
.hidden{
    display: none;
}
.nrtext{
    text-align: center;
}

@media screen and (max-width: 768px) {
    body{
        width: 95%;
    }
    #form{
        margin: 20px 0;
    }
    input{
        width: 65%;
    }
    button{
        float: left;
        width: 20%;
    }
    img{
        width: 150px;
        max-width: 150px;
        height: 100px;
        max-height: 100px;
        object-fit: cover;
    }
}
