*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 40px auto;
    font-family: 'Epilogue', sans-serif;
}
#intro{
    text-align: center;
}
#form{
    display: flex;
    justify-content: center;
    margin: 20px;
}

input{
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 40%;
    background: #f1f1f1;
    border: 1px solid gray;
    outline: none;
    font-family: 'Epilogue', sans-serif;
}

input:hover{
    border: 2px solid cornflowerblue;
}

button{
    float: left;
    width: 10%;
    padding: 8.5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    outline: none;
}

button:hover{
    background: #0b7dda;
}

#div{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.each{
    width: 45%;
    height: 600px;
    margin: 10px auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}
img{
    width: 100%;
    max-width: 100%;
    height: 400px;
    max-height: 400px;
    object-fit: cover;
}
h5{
    margin-top: 5%;
}

@media screen and (max-width: 1024px) {
    body{
        width: 90%;
    }
    #form{
        margin: 20px 0;
    }
    input{
        width: 65%;
    }
    button{
        float: left;
        width: 20%;
    }
    #div{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .each{
        width: 90%;
        height: 400px;
    }
    img{
        width: 100%;
        max-width: 100%;
        height: 400px;
        max-height: 400px;
    }
}
